<a href="https://colab.research.google.com/github/sehyun66/sehyun66/blob/master/steam_%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C_ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## 코랩을 사용할 때
#드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

#현재 작업 위치 이동
#띄어쓰기에 \붙일 것
%cd /content/drive/MyDrive/MultiCampus/데이터 시각화3

Mounted at /content/drive
/content/drive/MyDrive/MultiCampus/데이터 시각화3

In [ ]:
import pandas as pd

In [ ]:
df_steam = pd.read_csv('./data/final_seh.csv')
df_steam

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,title,steamid,userscore
0,0,0,Sid Meier's Civilization®: Beyond Earth™,76561198007533511,9
1,1,1,Sid Meier's Civilization®: Beyond Earth™,76561198025635395,8
2,2,2,Sid Meier's Civilization®: Beyond Earth™,76561197980970033,3
3,3,3,Sid Meier's Civilization®: Beyond Earth™,76561197998415963,8
4,4,4,Sid Meier's Civilization®: Beyond Earth™,76561197967460895,1
...,...,...,...,...,...
11352223,7312913,7312913,Sid Meier's Civilization®: Beyond Earth™,76561198040726071,3
11352224,7312914,7312914,Sid Meier's Civilization®: Beyond Earth™,76561197996664052,2
11352225,7312915,7312915,Sid Meier's Civilization®: Beyond Earth™,76561198034468649,1
11352226,7312916,7312916,Sid Meier's Civilization®: Beyond Earth™,76561198032645441,3
11352227,7312917,7312917,Sid Meier's Civilization®: Beyond Earth™,76561198027502760,8

In [ ]:
df_steam=df_steam.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [ ]:
df_steam=df_steam.dropna(axis=0)

In [ ]:
df_steam=df_steam.reset_index()

In [ ]:
df_steam=df_steam.drop(columns='index')

In [ ]:
df_steam.head()

                                      title            steamid  userscore
0  Sid Meier's Civilization®: Beyond Earth™  76561198007533511          9
1  Sid Meier's Civilization®: Beyond Earth™  76561198025635395          8
2  Sid Meier's Civilization®: Beyond Earth™  76561197980970033          3
3  Sid Meier's Civilization®: Beyond Earth™  76561197998415963          8
4  Sid Meier's Civilization®: Beyond Earth™  76561197967460895          1

In [ ]:
df_steam = df_steam.rename(
    columns={
        "steamid": "user",
          
    }
)

In [ ]:
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11352138 entries, 0 to 11352137
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   user       object
 2   userscore  int64
dtypes: int64(1), object(2)
memory usage: 259.8+ MB

In [ ]:
df_steam.head()

                                      title               user  userscore
0  Sid Meier's Civilization®: Beyond Earth™  76561198007533511          9
1  Sid Meier's Civilization®: Beyond Earth™  76561198025635395          8
2  Sid Meier's Civilization®: Beyond Earth™  76561197980970033          3
3  Sid Meier's Civilization®: Beyond Earth™  76561197998415963          8
4  Sid Meier's Civilization®: Beyond Earth™  76561197967460895          1

In [ ]:
review_per_user = pd.DataFrame(df_steam['user'].value_counts())
review_per_user = review_per_user.reset_index().rename(columns={'index':'user', 'user':'counts'})
review_per_user

                      user  counts
0                        1    5164
1                        2    4440
2                        3    3844
3                        4    3232
4                        5    2762
...                    ...     ...
5508007  76561198949102905       1
5508008  76561198925560086       1
5508009  76561199132207362       1
5508010  76561198299741353       1
5508011  76561198040726071       1

[5508012 rows x 2 columns]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
review_per_user2=review_per_user[review_per_user['counts']>=20] # 유저평가 수가 20개 이상인 데이터만 남김
review_per_user2

                    user  counts
0                      1    5164
1                      2    4440
2                      3    3844
3                      4    3232
4                      5    2762
...                  ...     ...
33915  76561197994211019      20
33916  76561198073972405      20
33917  76561198315483653      20
33918  76561197994563865      20
33919  76561197998328201      20

[33920 rows x 2 columns]

In [ ]:
df_steam4=pd.merge(df_steam,review_per_user2,on='user',how='right')
df_steam4

                                title               user  userscore  counts
0                      Counter-Strike                  1          2    5164
1           Half-Life: Opposing Force                  1          3    5164
2                      Counter-Strike                  1          1    5164
3                      Counter-Strike                  1          3    5164
4                     Team Fortress 2                  1          2    5164
...                               ...                ...        ...     ...
1343077                        Steep™  76561197998328201          1      20
1343078                  Bejeweled® 3  76561197998328201          1      20
1343079  LEGO® The Lord of the Rings™  76561197998328201          1      20
1343080                     DLC Quest  76561197998328201          2      20
1343081              Thomas Was Alone  76561197998328201          2      20

[1343082 rows x 4 columns]

In [ ]:
df_steam4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1343082 entries, 0 to 1343081
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1343082 non-null  object
 1   user       1343082 non-null  object
 2   userscore  1343082 non-null  int64
 3   counts     1343082 non-null  int64
dtypes: int64(2), object(2)
memory usage: 51.2+ MB

In [ ]:
df_steam4=df_steam4.drop(columns='counts', axis=1)
df_steam4

                                title               user  userscore
0                      Counter-Strike                  1          2
1           Half-Life: Opposing Force                  1          3
2                      Counter-Strike                  1          1
3                      Counter-Strike                  1          3
4                     Team Fortress 2                  1          2
...                               ...                ...        ...
1343077                        Steep™  76561197998328201          1
1343078                  Bejeweled® 3  76561197998328201          1
1343079  LEGO® The Lord of the Rings™  76561197998328201          1
1343080                     DLC Quest  76561197998328201          2
1343081              Thomas Was Alone  76561197998328201          2

[1343082 rows x 3 columns]

In [ ]:
df_steam4['title'] = df_steam4['title'].str.replace("[^A-Za-z0-9]+","")
df_steam4['title'] = df_steam4['title'].str.upper()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df_steam4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1343082 entries, 0 to 1343081
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1343082 non-null  object
 1   user       1343082 non-null  object
 2   userscore  1343082 non-null  int64
dtypes: int64(1), object(2)
memory usage: 41.0+ MB

In [ ]:
df_steam4= df_steam4[df_steam4['title'] != '']

In [ ]:
df_steam4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1342904 entries, 0 to 1343081
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1342904 non-null  object
 1   user       1342904 non-null  object
 2   userscore  1342904 non-null  int64
dtypes: int64(1), object(2)
memory usage: 41.0+ MB

In [ ]:
from sklearn.decomposition import TruncatedSVD

In [ ]:
from tqdm import tqdm

In [ ]:
SVD2 = TruncatedSVD(n_components=20)

In [ ]:
pdf_steam= pd.pivot_table(df_steam4,
                     index='title',
                     columns='user',
                     values='userscore'
)

In [ ]:
matrix=SVD2.fit_transform(pdf_steam.fillna(0))
matrix.shape

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'int', 'str']. An error will be raised in 1.2.
  FutureWarning,

(20313, 20)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [ ]:
similarity_rate=cosine_similarity(matrix,matrix)

In [ ]:
np.fill_diagonal(similarity_rate,0)
similarity_rate

array([[ 0.        ,  0.30123107,  0.24564978, ...,  0.44594292,
         0.40274313,  0.00114563],
       [ 0.30123107,  0.        ,  0.07595107, ...,  0.22020808,
         0.60431553,  0.13621622],
       [ 0.24564978,  0.07595107,  0.        , ...,  0.66857674,
         0.01904494,  0.40250608],
       ...,
       [ 0.44594292,  0.22020808,  0.66857674, ...,  0.        ,
        -0.08163053,  0.17310997],
       [ 0.40274313,  0.60431553,  0.01904494, ..., -0.08163053,
         0.        ,  0.12376932],
       [ 0.00114563,  0.13621622,  0.40250608, ...,  0.17310997,
         0.12376932,  0.        ]])

In [ ]:
pdf_steam2=pdf_steam.reset_index()
game_title=pdf_steam2['title']

In [ ]:
similarity_rate2=pd.DataFrame(data=similarity_rate,index=game_title,columns=game_title)
similarity_rate2

title,040SADDLETANKPACK2ADDONLOCO,1000DAYSTOESCAPE,1000HEADSAMONGTHETREES,1000NEEDLES,1001JIGSAWCUTECATS,1001JIGSAWEARTHCHRONICLES4,1001JIGSAWLEGENDSOFMYSTERY,1001SPIKES,100HIDDENALIENS,100HIDDENBIRDS,...,ZUP8,ZUP9,ZUPF,ZUPX,ZUPXS,ZUPZ,ZUPZERO,ZUPZERO2,ZUSI3AEROSOFTEDITION,ZWEITHEILVARDINSURRECTION
title,,,,,,,,,,,,,,,,,,,,,
040SADDLETANKPACK2ADDONLOCO,0.000000,0.301231,0.245650,0.498338,0.178879,0.114090,0.296811,-0.221061,-0.032847,0.171790,...,0.440253,0.315346,0.419785,0.473354,0.361819,0.407614,0.388285,0.445943,0.402743,0.001146
1000DAYSTOESCAPE,0.301231,0.000000,0.075951,0.325171,-0.040959,0.204380,0.489751,-0.000731,-0.014249,0.176442,...,0.215422,0.185807,0.287267,0.268162,0.238684,0.232193,0.176710,0.220208,0.604316,0.136216
1000HEADSAMONGTHETREES,0.245650,0.075951,0.000000,0.278277,0.732818,0.275989,0.648104,0.336171,0.063384,0.818550,...,0.688418,0.674840,0.667092,0.697919,0.680209,0.703008,0.698620,0.668577,0.019045,0.402506
1000NEEDLES,0.498338,0.325171,0.278277,0.000000,0.375288,0.309972,0.246370,-0.088877,0.158603,0.179675,...,0.153916,0.067887,0.177108,0.211921,0.119499,0.218833,0.191788,0.189207,0.452350,0.269007
1001JIGSAWCUTECATS,0.178879,-0.040959,0.732818,0.375288,0.000000,0.423482,0.597259,-0.037408,0.350940,0.716499,...,0.555959,0.610465,0.596939,0.589343,0.598011,0.647124,0.594471,0.563835,0.054072,0.308973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZUPZ,0.407614,0.232193,0.703008,0.218833,0.647124,0.356773,0.756826,0.016964,0.009805,0.824423,...,0.952981,0.977451,0.950893,0.959587,0.968251,0.000000,0.970687,0.981573,-0.047558,0.260750
ZUPZERO,0.388285,0.176710,0.698620,0.191788,0.594471,0.382792,0.712196,0.060937,-0.084749,0.795149,...,0.976031,0.968537,0.940235,0.966326,0.968144,0.970687,0.000000,0.987570,-0.133132,0.201239
ZUPZERO2,0.445943,0.220208,0.668577,0.189207,0.563835,0.349595,0.725333,0.022318,-0.062730,0.780145,...,0.978316,0.978845,0.943578,0.966176,0.980318,0.981573,0.987570,0.000000,-0.081631,0.173110
ZUSI3AEROSOFTEDITION,0.402743,0.604316,0.019045,0.452350,0.054072,0.392880,0.332509,0.031548,0.278414,0.065696,...,-0.149091,-0.142192,-0.060483,-0.075787,-0.083521,-0.047558,-0.133132,-0.081631,0.000000,0.123769
ZWEITHEILVARDINSURRECTION,0.001146,0.136216,0.402506,0.269007,0.308973,0.146525,0.208727,0.524803,0.088043,0.376110,...,0.160264,0.203775,0.304248,0.274708,0.210062,0.260750,0.201239,0.173110,0.123769,0.000000

In [ ]:
def recommend_video_game(title, top_n):
   rec_game=similarity_rate2[title].reset_index()
   rec_game = rec_game.rename(columns={"title": "game",title:'similarity'})
   rec_game=rec_game.sort_values(by='similarity',ascending=False).head(top_n)

   return rec_game

In [ ]:
similarity_rate2['APEXLEGENDS'].reset_index().sort_values(by='APEXLEGENDS',ascending=False).head(10)

                              title  APEXLEGENDS
17192          THEJACKBOXPARTYPACK8     0.903325
487                           AGROU     0.898542
18706          ULTIMATECHICKENHORSE     0.897537
17190          THEJACKBOXPARTYPACK5     0.881009
17191          THEJACKBOXPARTYPACK7     0.877046
15876             STICKFIGHTTHEGAME     0.876868
18827                           UNO     0.876548
14744                SHELLSHOCKLIVE     0.868171
12472                      PICOPARK     0.865775
12713  POGOSTUCKRAGEWITHYOURFRIENDS     0.865715

In [ ]:
# game1, game2, game3 추천 게임 - 유사도 테이블
def gentleman_ver2(game1, game2, game3):
  d1 = pd.DataFrame(recommend_video_game(game1, top_n=10), columns=['game', 'similarity']) # game1 추천목록 & 유사도
  d2 = pd.DataFrame(recommend_video_game(game2, top_n=10), columns=['game', 'similarity']) # game2 추천목록 & 유사도
  d3 = pd.DataFrame(recommend_video_game(game3, top_n=10), columns=['game', 'similarity']) # game3 추천목록 & 유사도
  df = pd.merge(d1, d2, on='game', how='outer') # d1, d2 merge
  df = pd.merge(df, d3, on='game', how='outer') # d2, d3 merge

  for game in df['game']: # ['game'] 행 하나씩 돌면서 
   if game in [game1, game2, game3]: # game이 game1, game2, game3에 해당하는 경우
      drop_index = df[df['game']==game].index
      df.drop(drop_index, axis='index', inplace=True) # 해당 행 drop

  # 추천 리스트 간 중복되는 게임이 없는 경우 각 추천리스트에서 2개씩 뽑음
  if len(df) == 30: 
    return [x for x in  recommend_video_game(game1, top_n=2)['game'].unique()]+ [x for x in recommend_video_game(game2, top_n=2)['game'].unique()] + [x for x in recommend_video_game(game3, top_n=2)['game'].unique()]
  # 유사도 평균 내서 상위 6개 추출
  else : 
    df.fillna(0, inplace=True)
    df['mean'] = df.mean(axis=1, numeric_only=True)
    df.sort_values('mean', ascending=False, inplace=True)
    return list(df['game'][:6])

In [ ]:
gentleman_ver2('APEXLEGENDS','COUNTERSTRIKE','CALLOFDUTY')

['THEJACKBOXPARTYPACK8',
 'AGROU',
 'COUNTERSTRIKESOURCE',
 'EUROTRUCKSIMULATOR2LATVIANPAINTJOBSPACK',
 'CALLOFDUTY2',
 'CALLOFDUTYUNITEDOFFENSIVE']