<a href="https://colab.research.google.com/github/sehyun66/sehyun66/blob/master/steam_%EC%B6%94%EC%B2%9C%EC%8B%9C%EC%8A%A4%ED%85%9C_ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## 코랩을 사용할 때
#드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

#현재 작업 위치 이동
#띄어쓰기에 \붙일 것
%cd /content/drive/MyDrive/MultiCampus/데이터 시각화3

Mounted at /content/drive
/content/drive/MyDrive/MultiCampus/데이터 시각화3

In [2]:
import pandas as pd

In [3]:
df_steam = pd.read_csv('./data/final_seh.csv')
df_steam

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,title,steamid,userscore
0,0,0,Sid Meier's Civilization®: Beyond Earth™,76561198007533511,9
1,1,1,Sid Meier's Civilization®: Beyond Earth™,76561198025635395,8
2,2,2,Sid Meier's Civilization®: Beyond Earth™,76561197980970033,3
3,3,3,Sid Meier's Civilization®: Beyond Earth™,76561197998415963,8
4,4,4,Sid Meier's Civilization®: Beyond Earth™,76561197967460895,1
...,...,...,...,...,...
11352223,7312913,7312913,Sid Meier's Civilization®: Beyond Earth™,76561198040726071,3
11352224,7312914,7312914,Sid Meier's Civilization®: Beyond Earth™,76561197996664052,2
11352225,7312915,7312915,Sid Meier's Civilization®: Beyond Earth™,76561198034468649,1
11352226,7312916,7312916,Sid Meier's Civilization®: Beyond Earth™,76561198032645441,3
11352227,7312917,7312917,Sid Meier's Civilization®: Beyond Earth™,76561198027502760,8

In [4]:
df_steam=df_steam.drop(columns=['Unnamed: 0','Unnamed: 0.1'])

In [5]:
df_steam=df_steam.dropna(axis=0)

In [6]:
df_steam=df_steam.reset_index()

In [7]:
df_steam=df_steam.drop(columns='index')

In [8]:
df_steam.head()

                                      title            steamid  userscore
0  Sid Meier's Civilization®: Beyond Earth™  76561198007533511          9
1  Sid Meier's Civilization®: Beyond Earth™  76561198025635395          8
2  Sid Meier's Civilization®: Beyond Earth™  76561197980970033          3
3  Sid Meier's Civilization®: Beyond Earth™  76561197998415963          8
4  Sid Meier's Civilization®: Beyond Earth™  76561197967460895          1

In [9]:
df_steam = df_steam.rename(
    columns={
        "steamid": "user",
          
    }
)

In [10]:
df_steam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11352138 entries, 0 to 11352137
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   user       object
 2   userscore  int64
dtypes: int64(1), object(2)
memory usage: 259.8+ MB

In [11]:
df_steam.head()

                                      title               user  userscore
0  Sid Meier's Civilization®: Beyond Earth™  76561198007533511          9
1  Sid Meier's Civilization®: Beyond Earth™  76561198025635395          8
2  Sid Meier's Civilization®: Beyond Earth™  76561197980970033          3
3  Sid Meier's Civilization®: Beyond Earth™  76561197998415963          8
4  Sid Meier's Civilization®: Beyond Earth™  76561197967460895          1

In [12]:
review_per_user = pd.DataFrame(df_steam['user'].value_counts())
review_per_user = review_per_user.reset_index().rename(columns={'index':'user', 'user':'counts'})
review_per_user

                      user  counts
0                        1    5164
1                        2    4440
2                        3    3844
3                        4    3232
4                        5    2762
...                    ...     ...
5508007  76561198949102905       1
5508008  76561198925560086       1
5508009  76561199132207362       1
5508010  76561198299741353       1
5508011  76561198040726071       1

[5508012 rows x 2 columns]

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
review_per_user2=review_per_user[review_per_user['counts']>=20] # 유저평가 수가 20개 이상인 데이터만 남김
review_per_user2

                    user  counts
0                      1    5164
1                      2    4440
2                      3    3844
3                      4    3232
4                      5    2762
...                  ...     ...
33915  76561197994211019      20
33916  76561198073972405      20
33917  76561198315483653      20
33918  76561197994563865      20
33919  76561197998328201      20

[33920 rows x 2 columns]

In [15]:
df_steam4=pd.merge(df_steam,review_per_user2,on='user',how='right')
df_steam4

                                title               user  userscore  counts
0                      Counter-Strike                  1          2    5164
1           Half-Life: Opposing Force                  1          3    5164
2                      Counter-Strike                  1          1    5164
3                      Counter-Strike                  1          3    5164
4                     Team Fortress 2                  1          2    5164
...                               ...                ...        ...     ...
1343077                        Steep™  76561197998328201          1      20
1343078                  Bejeweled® 3  76561197998328201          1      20
1343079  LEGO® The Lord of the Rings™  76561197998328201          1      20
1343080                     DLC Quest  76561197998328201          2      20
1343081              Thomas Was Alone  76561197998328201          2      20

[1343082 rows x 4 columns]

In [16]:
df_steam4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1343082 entries, 0 to 1343081
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1343082 non-null  object
 1   user       1343082 non-null  object
 2   userscore  1343082 non-null  int64
 3   counts     1343082 non-null  int64
dtypes: int64(2), object(2)
memory usage: 51.2+ MB

In [17]:
df_steam4=df_steam4.drop(columns='counts', axis=1)
df_steam4

                                title               user  userscore
0                      Counter-Strike                  1          2
1           Half-Life: Opposing Force                  1          3
2                      Counter-Strike                  1          1
3                      Counter-Strike                  1          3
4                     Team Fortress 2                  1          2
...                               ...                ...        ...
1343077                        Steep™  76561197998328201          1
1343078                  Bejeweled® 3  76561197998328201          1
1343079  LEGO® The Lord of the Rings™  76561197998328201          1
1343080                     DLC Quest  76561197998328201          2
1343081              Thomas Was Alone  76561197998328201          2

[1343082 rows x 3 columns]

In [18]:
df_steam4['title'] = df_steam4['title'].str.replace("[^A-Za-z0-9]+","")
df_steam4['title'] = df_steam4['title'].str.upper()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [19]:
df_steam4= df_steam4[df_steam4['title'] != '']

In [20]:
df_steam4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1342904 entries, 0 to 1343081
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   title      1342904 non-null  object
 1   user       1342904 non-null  object
 2   userscore  1342904 non-null  int64
dtypes: int64(1), object(2)
memory usage: 41.0+ MB

In [21]:
from sklearn.decomposition import TruncatedSVD

In [22]:
from tqdm import tqdm

In [23]:
SVD2 = TruncatedSVD(n_components=20)

In [24]:
pdf_steam= pd.pivot_table(df_steam4,
                     index='title',
                     columns='user',
                     values='userscore'
)

In [25]:
matrix=SVD2.fit_transform(pdf_steam.fillna(0))
matrix.shape

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['float', 'int', 'str']. An error will be raised in 1.2.
  FutureWarning,

(20313, 20)

In [26]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [27]:
similarity_rate=cosine_similarity(matrix,matrix)

In [28]:
np.fill_diagonal(similarity_rate,0)
similarity_rate

array([[0.        , 0.4089641 , 0.39889966, ..., 0.64341488, 0.35886619,
        0.12373362],
       [0.4089641 , 0.        , 0.12520828, ..., 0.28381278, 0.54604113,
        0.12673535],
       [0.39889966, 0.12520828, 0.        , ..., 0.64344239, 0.02112945,
        0.33742919],
       ...,
       [0.64341488, 0.28381278, 0.64344239, ..., 0.        , 0.21305929,
        0.22375197],
       [0.35886619, 0.54604113, 0.02112945, ..., 0.21305929, 0.        ,
        0.18384177],
       [0.12373362, 0.12673535, 0.33742919, ..., 0.22375197, 0.18384177,
        0.        ]])

In [29]:
pdf_steam2=pdf_steam.reset_index()
game_title=pdf_steam2['title']

In [30]:
similarity_rate2=pd.DataFrame(data=similarity_rate,index=game_title,columns=game_title)
similarity_rate2

title,040SADDLETANKPACK2ADDONLOCO,1000DAYSTOESCAPE,1000HEADSAMONGTHETREES,1000NEEDLES,1001JIGSAWCUTECATS,1001JIGSAWEARTHCHRONICLES4,1001JIGSAWLEGENDSOFMYSTERY,1001SPIKES,100HIDDENALIENS,100HIDDENBIRDS,...,ZUP8,ZUP9,ZUPF,ZUPX,ZUPXS,ZUPZ,ZUPZERO,ZUPZERO2,ZUSI3AEROSOFTEDITION,ZWEITHEILVARDINSURRECTION
title,,,,,,,,,,,,,,,,,,,,,
040SADDLETANKPACK2ADDONLOCO,0.000000,0.408964,0.398900,0.062091,0.411165,0.126226,0.497442,-0.214141,0.031416,0.361944,...,0.605791,0.586694,0.645597,0.628766,0.586526,0.662947,0.588684,0.643415,0.358866,0.123734
1000DAYSTOESCAPE,0.408964,0.000000,0.125208,0.028155,-0.020187,0.245380,0.520119,0.023405,-0.095046,0.235942,...,0.266316,0.244792,0.333209,0.303921,0.292793,0.280267,0.241304,0.283813,0.546041,0.126735
1000HEADSAMONGTHETREES,0.398900,0.125208,0.000000,-0.032793,0.782010,0.239900,0.684345,0.348534,-0.133544,0.831662,...,0.670084,0.678166,0.669732,0.686624,0.671356,0.697877,0.668362,0.643442,0.021129,0.337429
1000NEEDLES,0.062091,0.028155,-0.032793,0.000000,0.126558,0.265798,-0.224144,-0.096309,0.454454,-0.323754,...,-0.363700,-0.445182,-0.258313,-0.272869,-0.418735,-0.356684,-0.396505,-0.406425,0.199499,-0.024013
1001JIGSAWCUTECATS,0.411165,-0.020187,0.782010,0.126558,0.000000,0.380554,0.677675,-0.002956,0.032442,0.722914,...,0.487933,0.544936,0.547284,0.535368,0.533207,0.588808,0.514219,0.492717,0.038077,0.293453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZUPZ,0.662947,0.280267,0.697877,-0.356684,0.588808,0.251669,0.720693,0.079170,-0.398143,0.802330,...,0.950953,0.975616,0.951259,0.967283,0.966133,0.000000,0.966017,0.978739,0.226191,0.321628
ZUPZERO,0.588684,0.241304,0.668362,-0.396505,0.514219,0.259447,0.667610,0.119659,-0.475508,0.761756,...,0.976516,0.970662,0.927667,0.969831,0.968329,0.966017,0.000000,0.988072,0.170484,0.245682
ZUPZERO2,0.643415,0.283813,0.643442,-0.406425,0.492717,0.214114,0.677609,0.082376,-0.454462,0.753366,...,0.979692,0.983776,0.933024,0.968430,0.981140,0.978739,0.988072,0.000000,0.213059,0.223752
ZUSI3AEROSOFTEDITION,0.358866,0.546041,0.021129,0.199499,0.038077,0.565811,0.197565,0.098226,0.138147,0.069816,...,0.150892,0.161985,0.176806,0.171411,0.189282,0.226191,0.170484,0.213059,0.000000,0.183842
ZWEITHEILVARDINSURRECTION,0.123734,0.126735,0.337429,-0.024013,0.293453,0.120705,0.174559,0.478739,0.018400,0.316394,...,0.235164,0.271975,0.369962,0.334992,0.259612,0.321628,0.245682,0.223752,0.183842,0.000000

In [31]:
def recommend_game(title, top_n):
   rec_game=similarity_rate2[title].reset_index()
   rec_game = rec_game.rename(columns={"title": "game",title:'similarity'})
   rec_game=rec_game.sort_values(by='similarity',ascending=False).head(top_n)

   return rec_game

In [35]:
recommend_game('APEXLEGENDS',top_n=10)

                       game  similarity
17191  THEJACKBOXPARTYPACK7    0.909868
18706  ULTIMATECHICKENHORSE    0.909398
18827                   UNO    0.901284
13236                  RAFT    0.898565
15876     STICKFIGHTTHEGAME    0.897292
17190  THEJACKBOXPARTYPACK5    0.896479
17192  THEJACKBOXPARTYPACK8    0.895580
14744        SHELLSHOCKLIVE    0.895391
487                   AGROU    0.883653
4399          DESKTOPKANOJO    0.880937

In [36]:
# game1, game2, game3 추천 게임 - 유사도 테이블
def gentleman_ver2(game1, game2, game3):
  d1 = pd.DataFrame(recommend_game(game1, top_n=10), columns=['game', 'similarity']) # game1 추천목록 & 유사도
  d2 = pd.DataFrame(recommend_game(game2, top_n=10), columns=['game', 'similarity']) # game2 추천목록 & 유사도
  d3 = pd.DataFrame(recommend_game(game3, top_n=10), columns=['game', 'similarity']) # game3 추천목록 & 유사도
  df = pd.merge(d1, d2, on='game', how='outer') # d1, d2 merge
  df = pd.merge(df, d3, on='game', how='outer') # d2, d3 merge

  for game in df['game']: # ['game'] 행 하나씩 돌면서 
   if game in [game1, game2, game3]: # game이 game1, game2, game3에 해당하는 경우
      drop_index = df[df['game']==game].index
      df.drop(drop_index, axis='index', inplace=True) # 해당 행 drop

  # 추천 리스트 간 중복되는 게임이 없는 경우 각 추천리스트에서 2개씩 뽑음
  if len(df) == 30: 
    return [x for x in  recommend_game(game1, top_n=2)['game'].unique()]+ [x for x in recommend_game(game2, top_n=2)['game'].unique()] + [x for x in recommend_game(game3, top_n=2)['game'].unique()]
  # 유사도 평균 내서 상위 6개 추출
  else : 
    df.fillna(0, inplace=True)
    df['mean'] = df.mean(axis=1, numeric_only=True)
    df.sort_values('mean', ascending=False, inplace=True)
    return list(df['game'][:6])

In [37]:
gentleman_ver2('APEXLEGENDS','COUNTERSTRIKE','CALLOFDUTY')

['THEJACKBOXPARTYPACK7',
 'ULTIMATECHICKENHORSE',
 'COUNTERSTRIKESOURCE',
 'EUROTRUCKSIMULATOR2LATVIANPAINTJOBSPACK',
 'CALLOFDUTY2',
 'CALLOFDUTYUNITEDOFFENSIVE']